<!DOCTYPE HTML>

<html>
	<head>
		<title>Alkebulan</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/css/main.css" />
		<noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>

		
    	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    	<link rel="stylesheet" href="~/css/fontawesome-all.min.css">
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a asp-action="Statistics"><img src="~/css/images/Alkebulan.png" alt="Alkebulan's logo" srcset=""  style="height: 4rem; width: 8rem;margin-top:0.5rem;"></a></h1>
					<nav id="nav">
						<ul>
							<li><a asp-action="Statistics">Home</a></li>
							<li>
								<a href="#">Institutions Statistics</a>
								<ul>
									<li><a asp-action="EducationStatistics">Educational Institutions Statistics</a></li>
									<li><a asp-action="HealthStatistics">Health Institutions Statistics</a></li>
								</ul>
							</li>
							<li><a asp-action="AboutUs">About Us</a></li>
							<li>
								<a href="#"><i class="fa fa-user-circle" style="font-size:30px; color: white;"></i></a>
								<ul>
									<li><a asp-action="HealthStatistics">Profile</a></li>
									<li><a asp-action="Logout">Logout</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</header>
               	<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							@RenderSection("Slider", required: false)
						</header>

							<!-- Content -->
							<section id="content">
								
								@RenderBody()
							</section>

					</div>
				</div>


                <!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li><li>2021</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="~/js/jquery.min.js"></script>
			<script src="~/js/jquery.scrolly.min.js"></script>
			<script src="~/js/jquery.dropotron.min.js"></script>
			<script src="~/js/jquery.scrollex.min.js"></script>
			<script src="~/js/browser.min.js"></script>
			<script src="~/js/breakpoints.min.js"></script>
			<script src="~/js/util.js"></script>
			<script src="~/js/main.js"></script>

			
    @await RenderSectionAsync("Scripts", required: false)
           
	</body>
</html>