
@{
    ViewData["Title"] = "Index";
}

@{Layout="../Shared/_DashboardLayout.cshtml";}

<!-- Main -->
@section Slider {
<!-- Buttons -->
    <section>
        <h2>Alkebulan</h2>
        <p>Provide the platform for African institutions to provide relevant data to eradicate data deprivation across Africa </p>
        
    </section>
}
<div class="row gtr-150">
    <div class="col-4 col-12-medium">

        <!-- Sidebar -->
            <section id="sidebar">
                <section>
                    <h3>The Baseline for Research</h3>
                    <p>Data is the atom for research as atom is for a particle. Help in providing solutions to these atomic problems we encounter before moving on to the whole big picture. 
                        Every nation wide or continental or world-wide decision requires deep analysis of data before taking any steps in further achieveing common goals. </p>
                </section>
                <hr />
                <section>
                    <a href="#" class="image fit"><img src="https://images.unsplash.com/photo-1607037183811-2a54d746cd35?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VzdGFpbmFibGUlMjBkZXZlbG9wbWVudCUyMGdvYWxzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" /></a>
                    <h3>Sustainable Development Goals</h3>
                    <p>At its heart are the 17 Sustainable Development Goals (SDGs), which are an urgent call for action by all countries - developed and developing - in a global partnership. </p>
                    <footer>
                        <ul class="actions">
                            <li><a href="https://sdgs.un.org/goals" target="_blank" class="button">Learn More</a></li>
                        </ul>
                    </footer>
                </section>
            </section>

    </div>
    <div class="col-8 col-12-medium imp-medium">

        <!-- Content -->
            <section id="content">
                <a href="#" class="image fit"><img src="https://images.unsplash.com/photo-1473163928189-364b2c4e1135?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWFwfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="" /></a>
                <h3>About Alkebulan</h3>
                <p>In this fast changing innovative world, we are in constant need for data for further determining and reaching the targets of our goals. 
                    In 2015, United Nations had adapted the 17 Sustainable Development Goals for fulfilling peace and prosperity for all. 
                    By supporting these goals, we are providing the platform for African institutions to provide relevant data in the sector of Education and Health, 
                    supporting SDG3 - Good Health and Well being and SDG4 - Quality Education starting of within Africa.</p>
                <p>The platform besides providing data analysis methods, further works on awareness creation on the importance of relevant data in the sectors of Education and Health, and 
                    also in understanding of the Sustainable Development Goals across Africa. 
                    Education is an important factor that can help improve a country’s situation, with constant adjustments to uncertain educational contexts and new societal demands 
                    for making the system more innovative and effective in identifying trends and possibilities. 
                    And the identification of health institutions capacities deals with accurate and reliable data available for health status, health systems and determinants of health 
                    further helping in determining effective action plans during outbreaks (like COVID-19) </p>
                <h3>Speak up for Africa</h3>
                <p>Africa is in need of more relevant and reliable statistical data in tracking and determining future steps alongside the 
                    Global Goals thus, digitizing the handling of these data analysis alongside creating awareness across the African societies is our goal. 
                    The statistical data in hand will be of great use in research purposes and in budgeting, funding and investments in institutions situated in Africa 
                    in specific in Educational and Health institutions. Our goal in the near future is to spread across world not only Africa.</p>
                
            </section>

    </div>
</div>

