@model Datien.Models.EducationInstitution

@{
    ViewData["Title"] = "Index";
}

@{Layout="../Shared/_HomeLayout.cshtml";}
<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Educational Institute</h2>
            <p>Quality Education in Africa</p>
        </header>

        <!-- Text -->
            <section>

                <blockquote>Please situate your sit at the place of your institution while filling in these data. Thank you for taking an initiative as an institution to help contribute on reliable data availability. Become a change-maker and help represent your country. It starts with you!</blockquote>
                
            </section>
        

    <form asp-action="EducationIndex">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row gtr-uniform gtr-50">
                <div class="col-6 col-12-xsmall">
                    <input asp-for="InstitutionName" type="text"  placeholder="Institution Name" />
                    <span asp-validation-for="InstitutionName" class="text-danger"></span>
                </div>
                <div class="col-6 col-12-xsmall">
                    <input asp-for="FullName" type="text" placeholder="Full Name" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <select name="category" id="category">
                        <option value="">- Category -</option>
                        <option value="1">Primary - Elementary School</option>
                        <option value="1">Secondary - High School</option>
                        <option value="1">Higher Education Institue</option>
                        <option value="1">Elementary and High School</option>
                    </select>                    
                </div>
                <div class="col-6 col-12">
                    <label style="margin: 0;  font-family: Roboto; font-size: 15pt; font-weight: 100;
		line-height: 1.75em;">Legal Certificate</label>
                    <input asp-for="LegalCertificate" type="file" placeholder="Legal Certificate" />
                    <span asp-validation-for="LegalCertificate" class="text-danger"></span>
                </div>
                <div class="col-6 col-12">
                    <input asp-for="CountryName" type="text" placeholder="Country" />
                    <span asp-validation-for="CountryName" class="text-danger"></span>
                </div>
                <div class="col-6 col-12-xsmall">
                    <label class="form-label" style="margin: 0; font-family: Roboto; font-size: 15pt; font-weight: 100;
		line-height: 1.75em;">Number of Teaching Staffs</label>
                    <input asp-for="TeachingStaff" class="form-control" style="background-color: #1c1d26; width: 100%; height: 70%; border-width:0.01px;"/>
                    <span asp-validation-for="TeachingStaff" class="text-danger"></span>
                </div>
                <div class="col-6 col-12-xsmall">    
                    <label class="form-label" style="margin: 0; font-family: Roboto; font-size: 15pt; font-weight: 100;
		line-height: 1.75em;" >Number of Enrolled Students</label>              
                    <input asp-for="Students" class="form-control" style="background-color: #1c1d26; width: 100%; height: 70%; border-width:0.01px;" />
                    <span asp-validation-for="Students" class="text-danger"></span>
                </div>
                <br> <br> <br> <br>
                <div class="col-6 col-12">
                    <label class="form-label" style="margin: 0; font-family: Roboto; font-size: 15pt; font-weight: 100;
		line-height: 1.75em;">Annual Average Graduates(In Numbers)</label>
                    <input asp-for="AnnualAverageGraduates" class="form-control" style="background-color: #1c1d26; width: 100%; height: 70%; border-width:0.01px;" />
                    <span asp-validation-for="AnnualAverageGraduates" class="text-danger"></span>
                </div>
                @* <div class="form-group">
                    <label asp-for="Latitude" class="control-label"></label>
                    <input asp-for="Latitude" class="form-control" />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude" class="control-label"></label>
                    <input asp-for="Longitude" class="form-control" />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div> *@
                <div class="col-6 col-12">
                    <input style="width: 100%;" type="submit" value="Submit Response" class="primary" /></li>                           
                </div>

            </div>
            
    </form>


    
   
   
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

