@{
    ViewBag.Title = "Home Page";
}

@{Layout="../Shared/_DashboardLayout.cshtml";}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>



<h2>Health Institutions in Africa</h2>
<div id="HealthContainer" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

@section Slider {
<!-- Buttons -->
    <section>
        <div class="row scrolling-wrapper">
            <div class="col-6 col-12-xsmall">
                <ul class="actions fit">
                    @foreach (var entity in Model)
                    {
                        <li><a class="button fit large" asp-action="HealthCountryData" asp-route-name="@entity">@entity</a></li>
                    }

                </ul>
            </div>
        </div>
    </section>
}


<script>
    $(document).ready(function () {
        $.getJSON("/Home/GetHealthData", function (data) {
            var Names = []
            var Patients = []
            var Equipments = []
            var HealthCareSpecialists = []
            for (var i = 0; i < data.length; i++) {
                Names.push(data[i].name);
                Patients.push(data[i].averagePatients);
                Equipments.push(data[i].healthEquipments);
                HealthCareSpecialists.push(data[i].healthCareSpecialists)
            }

            Highcharts.chart('HealthContainer', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Health Institutions in Africa'
                },
                subtitle: {
                    text: 'Source: Alkebulan'
                },
                xAxis: {
                    categories: Names
                },
                yAxis: {
                    title: {
                        text: 'Numbers'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Daily average patients',
                    data: Patients
                },{
                    name: 'Health Equipments',
                    data: Equipments
                }, {
                    name: 'Health Care Specialists',
                    data: HealthCareSpecialists
                }]
            });
        });
    });


</script>
<hr />