@{
    ViewData["Title"] = "Index";

}

@{Layout="../Shared/_HomeLayout.cshtml";}

<!-- Banner -->
    <section id="banner">
        <div class="content inner">
            <header>
                <h2 style="text-transform: uppercase;">The baseline for research</h2>
                <p>Help provide relevant data for Africa.<br />
                Contribute as an individual to the sustainable development goals.</p>
            </header>
        </div>
        <a href="#one" class="goto-next scrolly">Next</a>
    </section>

<!-- One -->
    <section id="one" class="spotlight style1 bottom">
        <span class="image fit main"><img src="https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFwfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" /></span>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>Sustainable Development Goals (SDGs)</h2>
                            <p>At its heart are the 17 Sustainable Development Goals (SDGs), which are an urgent call for action by all countries - developed and developing - in a global partnership. </p>
                        </header>
                    </div>
                    <div class="col-4 col-12-medium">
                        <p>The Sustainable Development Goals or Global Goals are a collection of 17 interlinked global goals designed to be a 
                            "blueprint to achieve a better and more sustainable future for all". 
                            The SDGs were adopted by the United Nations in 2015 as a universal call to action to end poverty, 
                            protect the planet, and ensure that by 2030 all people enjoy peace and prosperity.
                            They recognize that ending poverty and other deprivations must go hand-in-</p>
                    </div>
                    <div class="col-4 col-12-medium">
                        <p>hand with strategies that improve health and education, reduce inequality, and 
                            spur economic growth – all while tackling climate change and working to preserve our oceans and forests.
                            Help contribute to reach the targets of these goals as an institution by providing relevant data as the base for research to help 
                            for future action plans; in investments, fundings and budgeting.</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#two" class="goto-next scrolly">Next</a>
    </section>

<!-- Two -->
    <section id="two" class="spotlight style2 right">
        <span class="image fit main"><img src="https://images.unsplash.com/photo-1598439590252-17bc9690a47e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2RnJTIwNHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" /></span>
        <div class="content">
            <header>
                <h2>An Educational Institute?</h2>
                <p>Data are essential to provide a better understanding of the educational contexts for making the system more innovative and effective in identifying trends and possibilities.</p>
            </header>
            <p>Every nation is endeavoring to adapt in these rapidly changing world. However, without appropriate planning based on high quality data, tremendous resources and effort will be wasted.

            Education is an important factor that can help improve a country’s situation, with constant adjustments to uncertain educational contexts and new societal demands.</p>
            <ul class="actions">
                <li><a class="button" asp-action="EducationIndex">Learn More</a></li>
            </ul>
        </div>
        <a href="#three" class="goto-next scrolly">Next</a>
    </section>

<!-- Three -->
    <section id="three" class="spotlight style3 left">
        <span class="image fit main bottom"><img src="https://images.unsplash.com/photo-1599045118108-bf9954418b76?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGFmcmljYW4lMjBkb2N0b3JzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" /></span>
        <div class="content">
            <header>
                <h2>A Health Institute?</h2>
                <p>Data sources, the determination of health institutions capacities deals with accurate and reliable data available for health status, health systems and determinants of health.</p>
            </header>
            <p>Policy-makers, planners and health system managers need actionable data to improve the performance of the health system and track progress towards health-related goals.
                Help provide sound data as an institution in a timely way across Africa.
            </p>
            <ul class="actions">
                <li><a class="button" asp-action="HealthIndex">Learn More</a></li>
            </ul>
        </div>
        <a href="#four" class="goto-next scrolly">Next</a>
    </section>

<!-- Four -->
    <section id="four" class="wrapper style1 special fade-up">
        <div class="container">
            <header class="major">
                <h2>Key targets of the platform</h2>
                <p>The base for research and action plans - Data</p>
            </header>
            <div class="box alt">
                <div class="row gtr-uniform">
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-clipboard-list"></span>
                        <h3>Research analysis</h3>
                        <p>Provide relevant data for further action-plans and research.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-signal"></span>
                        <h3>SDGs</h3>
                        <p>Contribute to the Sustainable Development Goals (SDGs).</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-users"></span>
                        <h3>Data-savvy</h3>
                        <p>Create a data-savvy generation.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-globe-africa"></span>
                        <h3>Reliable data</h3>
                        <p>Help eradicate data deprivation within Africa.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-file"></span>
                        <h3>Wise decision-making</h3>
                        <p>Open up gateways in active assessments on budgeting, funding and investments.</p>
                    </section>
                    <section class="col-4 col-6-medium col-12-xsmall">
                        <span class="icon solid alt major fa-bell"></span>
                        <h3>Awareness creation</h3>
                        <p>Create awareness on the SDGs and realistic data availabilities in the African societal institutions.</p>
                    </section>
                </div>
            </div>
            @* <footer class="major">
                <ul class="actions special">
                    <li><a asp-action="Map" class="button">Magna sed feugiat</a></li>
                </ul>
            </footer> *@
        </div>
    </section>

<!-- Five -->
    <section id="five" class="wrapper style2 special fade">
        <div class="container">
            <header>
                <h2>Sign up for the newsletter</h2>
                <p>Recieve, via email, the articles and more information about our solutions.</p>
            </header>
            <form method="post" action="#" class="cta">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
                    <div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
                </div>
            </form>
        </div>
    </section>

